<%= render "layouts/submenu" %>
<div class="article">
	<div class="article-image">
		<%= image_tag "bg2.jpg" %>
	</div>
	<div class="article-content center">
		<div class="top">
			Име на модератор<span id="color">- Категория - 26.09.2015г.</span>
		</div>
		<div class="article-name">
			ИМЕТО НА НОВИНАТА
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur egestas posuere libero at ullamcorper. Etiam nec odio non ante finibus ultrices vel ultrices mi. Maecenas a est sed dolor pharetra mattis at mattis tu..
rpis. Aliquam non libero nec tortor faucibus convallis. In rhoncus mollis velit in tempor...</p>
	</div>
</div>

<div id="comments">
	
</div>