@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

 *{
	font-family: "Segoe UI" !important;
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
}

a{
	color: #fff;
	text-decoration: none;
}

body{
	background-color: #dfdfdf;

}

.center{
	width: 75%;
	margin: 0 auto;
	display: block;
	height: auto;
}

.clear{
	clear:both;
}

@import "header";
@import "submenu";
@import "slider";
@import "article";
@import "footer";