#foother{
	background-color: #000;
	margin-top: 10px;
	color: #ccc;

	.center{
		#wrapper{
			#logo{
				float: left;
				display: block;
			}
			
			#links{
				float: left;
				display: block;
				ul{
					list-style-type: none;
					li{
						clear: both;
					}
				}
			}
		}
	}
}