@import "owl.carousel";
@import "owl.theme";


#slider{ 
	
	margin-top: -110px;
	z-index: 1;
	margin-bottom: 20px;
	height: 5%;
	display: block;

	.owl-item img{
		display: block;
		width: 100%;
		height: 500px;
	}

	h1{
		text-align: center;
		height: 50px;
		margin: -100px 0 50px 0;
		font-size: 35pt;
		font-weight: lighter;
		text-transform: uppercase;
	}
}

.owl-theme .owl-controls{
	margin-top: -26px;
}

.owl-theme .owl-controls .owl-page span{
	background: #fff;
	position: relative;
}