@import "owl.carousel";
@import "owl.theme";


#slider{ 
	position: absolute;
	z-index: 1;
	margin-bottom: 20px;
	display: block;
	overflow: hidden;

	.owl-item img{
		display: block;
		max-height: 550px;
		min-height: 50px;
		width: 100%;

		@media screen and (min-width: 1367px) {
			max-height: 800px;
		}
	}

	h1{
		text-align: center;
		height: 50px;
		margin: -100px 0 50px 0;
		font-size: 35pt;
		font-weight: lighter;
		text-transform: uppercase;
	}
}

.owl-theme .owl-controls{
	margin-top: -26px;
}

.owl-theme .owl-controls .owl-page span{
	background: #fff;
	position: relative;
}