<div id="footer">
	<div id="columns">
		<div id="about" class="col">
			<h2>За нас</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur egestas posuere libero at ullamcorper. Etiam nec odio non ante finibus ultrices vel ultrices </p>
		</div>
		<div id="archive" class="col">
			<h2>Архив</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur egestas posuere libero at ullamcorper. Etiam nec odio non ante finibus ultrices vel ultrices </p>
		</div>
		<div id="social" class="col">
			<h2>Социални мрежи</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur egestas posuere libero at ullamcorper. Etiam nec odio non ante finibus ultrices vel ultrices </p>
		</div>
		<div class="clear"></div>
	</div>
	<h5>© 2015 Името на проекта. Всички права са запазени</h5>
</div>