<div id="foother">
	<div class="center">
		<div id="wrapper">
			<div id="logo">LOGO</div>
			<div id="links">
				<ul>
					<li><%= link_to "За нас", root_path %></li>
					<li><%= link_to "За нас", root_path %></li>
					<li><%= link_to "За нас", root_path %></li>
					<li><%= link_to "За нас", root_path %></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>